# IF,Else statement

In [4]:
a=10

In [12]:
if a<15:
    pass

In [10]:
a<15

True

In [13]:
if a<15:
    print("my name is sardar")

my name is sardar

In [25]:
if 24<15:
    print("my name is sardar")
else:
     print("khan")

khan

In [20]:
24<15

False

In [24]:
if 10<3:
    print("10 is lesser than 3")
else:
    print("if statement is wrong")

if statement is wrong

In [28]:
if 5<10:
    print("5 is lesser than 10")
else:
    print("hello")

5 is lesser than 10

In [4]:
income=int(input())
if income<50:
    print("i will be ale to buy a phpne")
elif income<70:
    print("i will be able to buuy a car")
elif income<90:
    print("i will be able to rent ahouse")
else:
    print("i wont be able to buy anything")

70
i will be able to rent ahouse

In [120]:
Total_price=int(input())
if Total_price>20000:
    discount=Total_price*.20
    print("discount will be ",discount) 
elif Total_price<=7000:
        discount=Total_price*.05
else:
    print("wont be able to give you any discount")

21000
discount will be  4200.0

In [122]:
coup=input()
if coup=="sardar54":
    print("you willbe able to get a discpint of 5%")
    paid_amount=7080-7080*.05
    print("you will be able to get one neuron with this amoun",paid_amount)
else:
    print("kindly use a valid coupoun code")

noman54
kindly use a valid coupoun code

In [126]:
study_hour=int(input())
if study_hour<1:
    print("it may take 8-9 month of time to make a transitom")
elif study_hour<4 and study_hour>1:
    print("it may take 6 month for transition")
elif study_hour>10:
    print("it will take 3 monthds of time for transito")
else:
    print("it wil difficult")

24
it will take 3 monthds of time for transito

In [10]:
a=9
if a==9:
    print("valid")

valid

In [129]:
s=input("enter a string to strat")
course=input("enter a code")
service=input("enter a service name")
if s=="oneneuron":
    if course=="AWS":
        print("yes its avaible under one neuron in multiple moe for job preperation for core concept ")
    elif course=="Blockchain":
        print("this is not avaible as of now")
    elif course=="FSDS":
        print("yes it is available you can start lerning")
    else:
        print("this cpourse is not available raise your demand")
elif s=="oneneuronservices":
        if service=="courserequest":
            print("raise your demads")
        elif service=="module":
            print("raise your demand")
        elif service=="doubt":
            print("ghjfffy")
        else:
            print("kindly provide us your feedback and we wiil fullfill")
else:
    print("kindly connect with our team")

enter a string to stratoneneuron
enter a codeFSDS
enter a service namedoubt
yes it is available you can start lerning

In [20]:
s = input()
course = input()
service = input()
if s == "onenueron":
    if course == "DSA":
        print("Welcome to dsa")
    elif course == "DS":
        print("Welcome to data science")
    elif course == ("BCT"):
        print("This is not available now and we will fulfill in 60 days")
    else:
        print("Not available")
elif s == "onenueronservice":
    if service == "course request":
        print("we ill fulfill in 30  days")
    else:
        print("LOL")
else:
    print("Please select something")

oneneuron
BCT
onenuronservice
Please select something

# For loop Statement

In [7]:
l=[1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [8]:
l=["sardar"]
for i in l :
    print(i)

sardar

In [9]:
s="sardar"
for i in s:
    print(s
)

sardar
sardar
sardar
sardar
sardar
sardar

In [10]:
for i in "sardar":
    print(i)

s
a
r
d
a
r

In [11]:
t=(1,2,3,4,5)

In [12]:
for i in t:
    print(i)

1
2
3
4
5

In [13]:
l=[1,2,3,4,5.6,4+6j,"sardar"]

In [23]:
for i in l:
  
    print(type(i),"type of",i)

<class 'int'> type of 1
<class 'int'> type of 2
<class 'int'> type of 3
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+6j)
<class 'str'> type of sardar

In [26]:
l=[1,2,3,4]
for i in l:
    print(i+2,l)

3 [1, 2, 3, 4]
4 [1, 2, 3, 4]
5 [1, 2, 3, 4]
6 [1, 2, 3, 4]

In [30]:
l=[1,2,34,5]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
36
7

In [31]:
l1

[3, 4, 36, 7]

In [44]:
l=[2,34,56,12,"sardar",6+8j,[1,2,34,5],(1,23,45,3)]

In [36]:
for i in l:
    if type(i)==int:
        print(i)

2
34
56
12

In [50]:
for i in l:
    if type(i)==list:
            print(i)
            for j in i:
                if type(j)==str:
                    print(j)

[1, 2, 34, 5]

In [41]:
for i in  l:
    if type(i)==str:
        print(i)

sardar

In [42]:
type(8+7j)

complex

In [43]:
for i in l:
    if type(i)==complex:
        print(i)

(6+8j)

In [45]:
for i in l:
    if type(i)==tuple:
        print(i)

(1, 23, 45, 3)

In [60]:
l=[2,45,78,12,"sudh",6+7j,[56,67,78,"sardardatsdg"]]
for i in l:
    if type(i)==str:
        print(i)
        for j in i:
            if type(j)==list:
            elif type(j)==str:
                print(j)

IndentationError: expected an indented block (Temp/ipykernel_8216/4140673146.py, line 7)

In [98]:
l=[2,45,78,12,"sudh",6+7j,[56,67,78,"sardardatsdg"]]
l1=[]
for i in l:
    if type(i)==int:
        print(i)
        for j in i:
    elif type(j)==int:
        l1.append(j**2)

IndentationError: expected an indented block (Temp/ipykernel_8216/1154599178.py, line 7)

In [65]:
l=[2,45,78,12,"sudh",6+7j,[56,67,78,"sardardatsdg"]]
for i in l:
    if type(i)==str:
        for j in i:
            print(j)

s
u
d
h

In [67]:
for i in l:
    if type(i)==int:
        print(i*i)

4
2025
6084
144

In [73]:
l

[2, 45, 78, 12, 'sudh', (6+7j), [56, 67, 78, 'sardardatsdg']]

In [75]:
for i in range(len(l)):
    print("index",i,"for an element",l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element sudh
index 5 for an element (6+7j)
index 6 for an element [56, 67, 78, 'sardardatsdg']

In [76]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'sudh')
(5, (6+7j))
(6, [56, 67, 78, 'sardardatsdg'])

In [103]:
for i in l:
    if type(i)==str:
        l1=[]
        for j in i:
            l1.append(j)
            print(l1)

['s']
['s', 'u']
['s', 'u', 'd']
['s', 'u', 'd', 'h']

In [104]:
l1

['s', 'u', 'd', 'h']

In [105]:
l=[2,45,78,12,"sudh",6+7j,[56,67,78,"sardardatsdg"]]
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i**2)

In [92]:
l1

[4, 2025, 6084, 144]

In [114]:
l=[2,45,78,12,"sudh",6+7j,[56,67,78,"sardardatsdg"]]
for i in l:
    if type(i)==int:
        l2=[]
        print(i*2)
        l1.append(1*2)
        print(l1)

4
[1, 1, 1, 1, 1, 1, 1, 1, 2]
90
[1, 1, 1, 1, 1, 1, 1, 1, 2, 2]
156
[1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2]
24
[1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2]

In [108]:
l1

[1, 1, 1, 1]